:root {
    --box-size: 400px;
    --gray: #9aa0a6;
    border-radius: 20px;
}
body {
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1060%26quot%3b)'%3e%3c/rect%3e%3cpath d='M930.66 272.9 a136.45 136.45 0 1 0 272.9 0 a136.45 136.45 0 1 0 -272.9 0z' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1287.299%2c297.162C1308.716%2c297.344%2c1326.665%2c282.968%2c1337.606%2c264.556C1348.828%2c245.672%2c1353.019%2c222.896%2c1343.069%2c203.312C1332.169%2c181.858%2c1311.362%2c165.378%2c1287.299%2c165.542C1263.465%2c165.704%2c1243.447%2c182.724%2c1232.829%2c204.063C1223.294%2c223.227%2c1227.642%2c245.238%2c1238.451%2c263.713C1249.132%2c281.969%2c1266.149%2c296.982%2c1287.299%2c297.162' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1234.329%2c251.646C1264.731%2c251.735%2c1290.141%2c230.98%2c1305.228%2c204.586C1320.189%2c178.413%2c1322.14%2c147.633%2c1309.405%2c120.308C1294.133%2c87.539%2c1270.441%2c54.176%2c1234.329%2c52.456C1196.138%2c50.637%2c1161.806%2c77.813%2c1145.753%2c112.514C1131.73%2c142.828%2c1146.207%2c176%2c1164.144%2c204.175C1180.401%2c229.711%2c1204.057%2c251.558%2c1234.329%2c251.646' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1198.98 437.13 a140.99 140.99 0 1 0 281.98 0 a140.99 140.99 0 1 0 -281.98 0z' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1120.53%2c109.475C1138.336%2c110.215%2c1155.29%2c100.549%2c1163.992%2c84.997C1172.508%2c69.778%2c1170.846%2c50.974%2c1161.507%2c36.245C1152.801%2c22.515%2c1136.778%2c15.877%2c1120.53%2c16.452C1105.294%2c16.991%2c1091.907%2c25.774%2c1084.285%2c38.978C1076.664%2c52.18%2c1075.938%2c68.068%2c1082.908%2c81.625C1090.554%2c96.497%2c1103.821%2c108.78%2c1120.53%2c109.475' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M76.34%2c606.608C122.224%2c606.211%2c159.294%2c571.2%2c179.389%2c529.948C197.113%2c493.562%2c188.238%2c452.574%2c168.618%2c417.175C148.224%2c380.379%2c118.35%2c346.266%2c76.34%2c344.022C30.903%2c341.595%2c-12.35%2c366.708%2c-34.751%2c406.314C-56.832%2c445.353%2c-51.598%2c492.535%2c-29.844%2c531.757C-7.332%2c572.346%2c29.928%2c607.009%2c76.34%2c606.608' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M660.149%2c209.741C698%2c207.962%2c725.372%2c178.261%2c744.648%2c145.637C764.373%2c112.254%2c779.616%2c72.626%2c761.387%2c38.403C742.317%2c2.602%2c700.708%2c-12.46%2c660.149%2c-12.995C618.493%2c-13.544%2c575.476%2c-0.136%2c554.182%2c35.671C532.49%2c72.148%2c538.603%2c118.035%2c560.671%2c154.286C581.829%2c189.041%2c619.505%2c211.652%2c660.149%2c209.741' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M379.564%2c79.616C406.798%2c78.481%2c426.464%2c56.733%2c440.037%2c33.095C453.539%2c9.581%2c463.613%2c-19.043%2c449.516%2c-42.205C435.776%2c-64.78%2c405.992%2c-66.18%2c379.564%2c-66.264C352.924%2c-66.349%2c323.616%2c-64.817%2c308.835%2c-42.654C292.742%2c-18.522%2c295.153%2c13.422%2c309.677%2c38.53C324.179%2c63.601%2c350.626%2c80.822%2c379.564%2c79.616' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M454.881%2c412.172C503.546%2c413.16%2c545.777%2c382.985%2c571.435%2c341.622C598.772%2c297.551%2c615.004%2c241.751%2c588.091%2c197.42C561.852%2c154.2%2c505.381%2c147.155%2c454.881%2c149.638C409.472%2c151.871%2c365.38%2c170.159%2c342.58%2c209.492C319.716%2c248.935%2c324.148%2c297.172%2c346.244%2c337.051C369.114%2c378.327%2c407.703%2c411.214%2c454.881%2c412.172' fill='rgba(170%2c 170%2c 170%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1060'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
section#model {
    margin-top: 90px;
}
section#info {
    margin-top: 50px;
}
section > * {
    margin: 14px;
}
a,h1,h2 {
    text-align: center;
}
a {
    color: #000;
}
h1 {
    font-size: 24px;
    line-height: 29px;
}
h2 {
    font-size: 18px;
    line-height: 22px;
}
#webcam-wrapper {
    width: var(--box-size);
    height: var(--box-size);
    background-color: var(--gray);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.loader {
  position: absolute;
  top:50%;
  left:50%;
  border: 4px solid #ccc; /* Light grey */
  border-top: 4px solid #fff; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform:  translate(-50%,-50%) rotate(0deg); }
  100% { transform:  translate(-50%,-50%) rotate(360deg); }
}
#webcam-wrapper>canvas {
    position: relative;
}
#webcam {
    width: var(--box-size);
    height: var(--box-size);
    transform: rotateY(180deg);
}
#graph-wrapper > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
#graph-wrapper > div > * {
    display: inline-block;
    width: var(--box-size);
    margin: 0 10px;
}
#graph-wrapper > div > :first-child {
    text-align: right;
}
#graph-wrapper > div > progress {
    -webkit-appearance: none;
    appearance: none;
    height: 28px;
}
#graph-wrapper > div > progress::-webkit-progress-bar {
    border-radius: 4px;
    background-color: var(--color-light);
    border: 1px solid var(--color);
}
#graph-wrapper > div > progress::-webkit-progress-value {
    border-radius: 2px;
    background-color: var(--color);
}
footer {
    width: 100%;
    text-align: right;
    padding: 25px;
}
footer * {
    color: var(--gray);
    text-align: right;
}
